.div-boardlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.div-boardlist .btn {
    color: #ffffff;
}

h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 2vw;
    color: #ffffff;
}

select {
    text-align: center;
    align-self: center;
    border: 1px;
    border-radius: 8px;
    background: transparent;
    font-size: 1.5em;
}