li {
    list-style: none;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 300px;
    width: 300px;
    background: transparent;
    padding: 20px 20px 20px 50px;
}

.card {
    background-image: url("../images/yellow-note.png");
    background-color: #1e1e1e;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    border: none;
    color: #1e1e1e;
}

.content {
    margin-left: 40px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: auto;
}

.card-btns {
    display: flex;
    justify-content: center;
    /* margin-right: 20px; */
    /* margin-bottom: auto; */
    color: #1e1e1e;
}

.card-btns .btn:hover {
    background-color: transparent;
    border: none;
}

.btn {
    /* height: 75px; */
    /* margin-right: 5px; */
    background-color: transparent;
    border: none;
    color: #1e1e1e;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: auto;
}

.btn p {
    font-size: .95em;
}

.btn:hover {
    background: none;
    color: #1e1e1e;
}

.message {
    text-align: center;
    font-size: 20px;
    padding-top: 60px;
}
