.card-form-div {
    width: 100%;
    margin: 0 auto;
    border: 1px #494949 solid;
    border-radius: 0px;
    /* background-color: #242320; */
    /* background-color: #3a3830; */
}
input {
    margin-bottom: 0.5em;
}

button {
    margin-top: 0.5em;
}

.new-card-form {
    display: flex;
    flex-direction: column;    
    margin-bottom: 2em;
    padding: 2em;
};

span {
    display: inline;
}

#preview-label {
    display: inline;
}

.btn-primary {
    background: #8b8b8b !important;
    border-color: #282c34 !important;
}

.btn-primary:hover {
    background: #343944 !important;
    border-color: #343944 !important;
}