.card-form-div {
    width: 50%;
    margin: 0 auto;
}
input {
    margin-bottom: 0.5em;
}

button {
    margin-top: 0.5em;
}
.new-card-form {
    display: flex;
    flex-direction: column;    
    margin-bottom: 2em;
    padding: 2em;
};

span {
    display: inline;
}

#preview-label {
    display: inline;
}