.board-form-div {
    width: 100%;
    border: 1px #494949 solid;
    border-radius: 0px;
    /* background-color: #3a3830; */
}
input {
    margin-bottom: 0.5em;
}

button {
    margin-top: 0.5em;
}

.new-board-form {
    display: flex;
    flex-direction: column;    
    margin-bottom: 2em;
    padding: 2em;
    min-height: 50vh;
};

span {
    display: inline;
}

#preview-label {
    display: inline;
}

.btn-primary {
    background: #282c34 !important;
    border-color: #282c34 !important;
}

.btn-primary:hover {
    background: #343944 !important;
    border-color: #343944 !important;
}