/* .App {
  text-align: center;
} */

h2, .board-title {
  margin-top: 0px;
  text-align: center;
  /* padding: 50px 0; */
  color: #1e1e1e;
}

main {
  background-color: #242320;
}

a {
  text-decoration: none !important;
  font-size: 1.5em;
}

label, p {
  font-size: 1.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.homeContent {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  column-gap: 30px;
  row-gap: 30px;
}

.new-board {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: end;
  width: 100%;
  min-height: 30vh;
  z-index: 3;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 2em;
  grid-column-start: 4;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: span 2;
  min-height: 40vh;
  max-height: 40vh;
  margin-top: 15px;
  margin-left: -150px;
  z-index: 2;
}

.boardsDisplay {
  width: 100%;
  border: 1px #494949 solid;
  border-radius: 0px;
  background-color: #ded9c8;
  /* color: #1e1e1e; */
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  z-index: 1;
  margin-left: -75px;
  margin-right: -75px;
}

.boardslist {
  margin-top: 15px;
  border: 1px #494949 solid;
  /* background-color: #3a3830 !important; */
  border-radius: 0px;
  width: 100%;
  max-height: 30vh;
  min-height: 30vh;
  padding: 2em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 4;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242320;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}

.navbar-brand {
  font-size: 4em !important;
  /* background-color: #ffffff !important; */
  color: #ffffff !important;

}

.navbar {
  border: 0px;
  padding-bottom: 20px;
}

.navbar a {
  color: #ffffff !important;
}

.boardslist, .card-form-div, .board-form-div {
  background-color: #3e3b36;
  /* border-radius: 4px !important; */
}

.boardsDisplay {
  /* border-radius: 4px !important; */
}